body {
    background-color: rgba(19, 35, 47, 0.9);
    position: relative;
}
.imgRedonda {
    width:180px;
    height:180px;
    border-radius:150px;
    display: flex;
    margin-left: 8%;
    background-size: 20px;
}

.divImgRedonda {
    width:180px;
    height:180px;
    border-radius:150px;
    display: flex;
    margin-left: 8%;
    background-image: url('../Imagenes/Usuarios/imagenPerfil.jpg');
    align-self: center;
    background-attachment: fixed;
    background-size: 20px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.divImgRedonda input {
    width: 90%;
}
.sectionPerfil{
    width: 200px;
    height: 60px;
    position: absolute;
    top: 20%;
    right: 45%;
}

#botonGuardar {
    background-color: #1ab188;
    border-style: none;
    border-radius: 8px;
    color: white;
    margin-left: 6%;
}

label {
   color: #1ab188;
    font-weight: bold;
}
input {
    width: 100%;
    background-color: rgba(19, 35, 47, 0.9);
    color: #77d9ba;
}
form > input:focus, form > input:hover {
    border-style: solid;
   border-color: orange;
}

.botonGuardar:hover {
    background-color: #34752f;
    border-radius: 8px;
}
h1 {
    color: #28DAD4;
    /*padding-right: 30%;*/
    text-align: center;
    font-size: 38px;
}