body {
    background-color: rgba(19, 35, 47, 0.9);
    position: relative;
}
.imgRedonda {
    width:150px;
    height:150px;
    border-radius:150px;
    display: flex;
    margin-left: 8%;
}

.sectionPerfil{
    width: 200px;
    height: 60px;
    position: absolute;
    top: 130%;
    right: 45%;
}
a {
    color: green;
    text-decoration: none;
    font-weight: bold;
    text-align: center;

}
#botonGuardar {
    background-color: #1ab188;
    border-style: none;
    border-radius: 8px;
    color: white;
    margin-left: 6%;
}

label {
   color: #1ab188;
    font-weight: bold;
}
input {
    background-color: rgba(19, 35, 47, 0.9);
    color: #77d9ba;
}
form > input:focus, form > input:hover {
    border-style: solid;
   border-color: orange;
}

.botonGuardar:hover {
    background-color: #34752f;
    border-radius: 8px;
}
h1 {
    color: #28DAD4;
    /*padding-right: 30%;*/
    text-align: center;
    font-size: 38px;
}

.navegacion{
    width: 60%;
    margin: 10px auto;
    background: #fff;
}

.navegacion ul{
    list-style: none;
    text-align:center;

}
.menu > li{
    display: inline-block;
}

.menu > li > a, .menu > li > p{
    display: block;
    position: relative;
    padding: 15px 20px;
    color: #353535;
    font-weight:bold;
    font-family: 'Open sans';
    text-decoration: none;
}
.menu li a:hover,.menu li p:hover{
    color: #CE7D35;
    transition: all .3s;
}
