body {
    background: white;
    font-family: 'Titillium Web', sans-serif;
}

body p {
    padding-left: 10px;
}

h1{
    text-align: center;
    padding-top: 20px;
}

/* Create a column layout with Flexbox */
.row {
    display: flex;
}

/* Left column (menu) */
.left {
   flex: 10%;
}
/* Right column (page content) */
.right {
    flex: 90%;
}

.right h2 {
    text-align: center;
}

#titulo {
    padding-bottom: 100px;
    text-align: center;
}

#titulo  h2 {
    font-size: 180%;
}

#titulo p {
    font-size: 120%;
}

/* Style the navigation menu inside the left column */
#menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
}

#menu li a:hover {
    background-color: #eee;
}

.card {
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) ;
}

#productos {
    display: flex;
    justify-content: space-between;
}

.cabecera:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.cabecera::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    z-index: -1;
    transition: transform .3s ease;
    transform: scaleX(0);
    transform-origin: bottom right;
}

h1 {
    position: relative;
    font-size: 3rem;
}

header{
    width: 100%;
}

.navegacion{
    width: 1000px;
    margin: 30px auto;
    background: #fff;
}

.navegacion ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a, .menu > li > p{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-weight:bold;
    text-decoration: none;
}

.menu li a:hover,.menu li p:hover{
    color: #CE7D35;
    transition: all .3s;
}

/* Submenu*/

.submenu{
    position: absolute;
    background: #333333;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

.imgPerfil {
    width:60px;
    height:60px;
    border-radius:150px;
    background-size: 20px;
}