body {
    background: #c1bdba;
    font-family: 'Titillium Web', sans-serif;
}

body p {
    padding-left: 10px;
}

* {
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding-top: 20px;
}

/* Create a column layout with Flexbox */
.row {
    display: flex;
}

/* Left column (menu) */
.left {
    flex: 25%;
    padding: 15px 0;
}

.left h2 {
    padding-left: 8px;
}

/* Right column (page content) */
.right {
    flex: 75%;
    padding: 15px;
}

.right h2 {
    text-align: center;
}

#titulo {
    padding-bottom: 100px;
}

/* Style the search box */
#buscar {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
}

/* Style the navigation menu inside the left column */
#menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
}

#menu li a:hover {
    background-color: #eee;
}

.card {
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) ;
}

#productos {
    display: flex;
    justify-content: space-between;
}

.cabecera::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.cabecera:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.cabecera::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: linear-gradient(to left, blue, white);
    z-index: -1;
    transition: transform .3s ease;
}

h1 {
    position: relative;
    font-size: 2rem;
}